

<div class="preheader closed" >
  <div class="over"></div>
	<div class="container">
    <i id="close_popup" class="fas fa-times close_popup"></i>
    <div class="form-container">
			<div class="logo"></div>
			<h1 class="preheader-title">{{settings.form_title}}</h1>
			<p class="preheader-text">{{settings.form_subtitle}}</p>
      {% include 'delivery-form' %}
		</div>
	</div>

</div>
